asgiref==3.3.1
autopep8==1.5.4
Brotli==1.1.0
click==8.1.7
Django==3.1.6
django-cors-headers==3.7.0
djangorestframework==3.12.2
gunicorn==20.0.4
h11==0.14.0
pycodestyle==2.6.0
pytz==2021.1
setuptools==75.3.0
sqlparse==0.4.1
toml==0.10.2
uvicorn==0.32.0
whitenoise==5.2.0
